.main {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #999;
    margin-top: 10px;
    min-height: 368px;
    padding: 15px;
    width: 850px;
}
.main h1 {
    background: #f4f4f4 none repeat scroll 0 0;
    box-shadow: 2px 2px 0 1px #999;
    color: #666;
    margin: 10px auto 25px;
    padding: 4px;
    text-align: center;
    width: 620px;
}
.menu{overflow:hidden;}
.menu ul{margin:0;padding:0;list-style:none}
.menu ul li{display:block;float:left;}
.menu ul li a {
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    color: #444;
    display: block;
    margin: 0 5px 5px;
    padding: 1px 10px 3px;
    text-decoration: none;
}

.menu ul li a:hover{border:1px solid #fff;;color: #fff;}

.examtopic{
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    float: left;
    width: 400px;
    height: 200px;
}

input[type="submit"], input[type="reset"]  {
    cursor: pointer;
    font-size: 15px;
    padding: 1px 10px;
    margin-left: 20px;
}
.examtopic img {
    height: 200px;
    margin-left: 80px;
    padding-top: 12px;
}
.examtopic h2 {
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: center;
}
.examtopic p{
   padding: 10px;
   font-size: 13px;
}

.examtopic a{color: #3399ff;text-decoration:underline;}
.examtopic a:hover{text-decoration:none}
.examtopic ul {
    list-style: outside none none;
    margin: 0 0 0 70px;
    padding: 0;
}
.examtopic ul  li{}
.examtopic ul li a {
    font-size: 12px;
    border: 1px solid #3399ff;
    border-radius: 3px;
    color: #3399ff;
    display: block;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    width: 250px;
    
}
.examtopic ul  li a:hover{border: 1px solid #999; color: #999;}

