
.profile{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}
.proPicture{
    
}
.tblUserinfo{
    margin: 0 auto;
    text-align: left;
    padding-left: 80px;
}
table td{
    text-align: left;
    padding: 3px;
}